.edit-route-container{
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 40px;
    justify-content: center;
    align-items: center;
}

.edit-route-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 100%;
    max-width: 1000px;
  }

.edit-route-title{
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: var(--blue);
}

.edit-route-delete-button{
    right: 40px;
    width: 140px;
    height: 40px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-color: transparent;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--secondary-background);
    color: var(--red);  
    border: 1px solid var(--red);
    font-family: "Roboto Condensed", sans-serif;
}

.edit-route-delete-button:hover {
    background-color: var(--red);
    color: var(--secondary-background);  
    border: 1px solid var(--secondary-background);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

.edit-route-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 500px;
}

.edit-route-input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
  
.edit-route-input-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: var(--descriptions);
}
  
.edit-route-required {
  color: #f54400;
}
  
.edit-route-input-text,
.edit-route-destination-added-area {
  display: flex;
  align-items: center;
  gap: 16px;
}
  
.edit-route-input {
  width: 100%;
  height: 48px;
  background: transparent;
  border: 1px solid var(--border-input);
  border-radius: 4px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 16px;
}

.edit-route-input.added {
  width: 100%;
  height: 48px;
  background: var(--border-input);
  border: 1px solid var(--border-input);
  border-radius: 4px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 16px;
}

.edit-route-input.added:hover{
  cursor: grab;
}

.edit-route-input.error {
  border: 1px solid var(--red);
}

.edit-route-input-icon{
  height: 100%;
  background-color: transparent;
  border-color: transparent;
}

.edit-route-buttons{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
}

.edit-route-cancel-button{
  right: 40px;
  width: 160px;
  height: 48px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--secondary-background);
  color: var(--blue);  
  border: 1px solid var(--blue);
  font-family: "Roboto Condensed", sans-serif;
}

.edit-route-cancel-button:hover {
  color: var(--light-blue);  
  border: 1px solid var(--light-blue);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.edit-route-button{
  width: 160px;
  height: 48px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--blue); 
  color: var(--secondary-background);  
  font-family: "Roboto Condensed", sans-serif;
}

.edit-route-button:hover {
  background-color: var(--light-blue);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}




