.home-container{
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 40px;
    justify-content: center;
    align-items: center;
}

.home-title{
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: var(--blue);
}

.home-search-input-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    gap: 24px;
}

.home-search-input-area{
    position: relative;
    width: 100%;
    justify-content: flex-start;
}

.home-search-input-area input {
    border-radius: 10px;
    border: 1px solid #C2C2C2;
    background-color:  var(--secondary-background);
    height: 48px;
    width: 100%;
    padding: 0 80px 0 48px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
}

.home-search-input-area input:focus {
    border: 1px solid #C2C2C2 !important;
}

.home-search-input-icon{
    position: absolute; 
    left: 16px;
    height: 100%;
    background-color: transparent;
    border-color: transparent;
}

.home-sort-input-icon{
    position: absolute; 
    right: 16px;
    height: 100%;
    background-color: transparent;
    border-color: transparent;
}

.home-filter-input-icon{
    position: absolute; 
    right: 48px;
    height: 100%;
    background-color: transparent;
    border-color: transparent;
}

.home-requirements-search-button{
    width: 160px;
    height: 48px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-color: transparent;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--blue); 
    color: var(--secondary-background);  
    font-family: "Roboto Condensed", sans-serif;
}

.home-requirements-search-button:hover {
    background-color: var(--light-blue);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  .home-requirements-notices-button{
    right: 40px;
    width: 160px;
    height: 48px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-color: transparent;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--secondary-background);
    color: var(--blue);  
    border: 1px solid var(--blue);
    font-family: "Roboto Condensed", sans-serif;
}

.home-requirements-notices-button:hover {
    color: var(--light-blue);  
    border: 1px solid var(--light-blue);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

.home-requirements-search_minimized-button{
    display: none;
}
.home-routes-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 1000px;
}

.home-routes-titles{
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
}

.home-routes-titles-destination{
    width: 160px;
    text-align: end;
}

.home-routes-titles span{
    font-size: 24px;
    font-weight: 500;
    color: var(--blue);
}

.home-routes-titles button{
    font-size: 18px;
    font-weight: 400;
    color: var(--blue);
}

.home-sort-title-icon{ 
    margin-left: 4px;
    height: 100%;
    background-color: transparent;
    border-color: transparent;
}


