.admin-home-container{
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding: 40px;
    justify-content: center;
    align-items: center;
}

.admin-home-title{
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: var(--blue);
}

.admin-home-content{
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 80%;
}

.admin-home-buttons-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.main-admin-home-button {
    border: none;
    display: block;
    background-color: var(--blue);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 18px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 100%;
    max-width: 400px;
    padding: 16px;
  }
  
  .main-admin-home-button:hover {
    background-color: var(--light-blue);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  .admin-home-logout-area{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .secondary-admin-home-button{
    width: 100%;
    max-width: 400px;
    height: 48px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-color: transparent;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--secondary-background);
    color: var(--blue);  
    border: 1px solid var(--blue);
    font-family: "Roboto Condensed", sans-serif;
}

.secondary-admin-home-button:hover {
    color: var(--light-blue);  
    border: 1px solid var(--light-blue);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }




